input {
    border: 1px solid #cccccc;
    padding: 7px;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
}

.SignUpPage {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    height: 100vh;
}

.SignUp-inputs {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.SignUp-inputs>div {
    display: flex;
    justify-content: space-between;
}

select {
    border: 1px solid #cccccc;
    padding: 7px;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
}

textarea {
    border: 1px solid #cccccc;
    padding: 7px;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
}

.input-submit {
    align-self: center;
}

.checkbox-width {
    width: 300px;
}

.checkbox-width input {
    width: auto;
    margin-right: 10px;
}


@media (width < 768px) {

    input,
    .checkbox-width,
    textarea,
    select {
        width: 200px;
        font-size: 15px;
    }

    .SignUp-inputs {
        width: 90%;

    }

    .SignUpPage {
        font-size: 16px;
    }
}