.phone {
    width: 40%;
}

.working {
    width: 100%;
    font-family: "Lato", "Arial", sans-serif;
    color: #555555;
    background-color:
        rgb(211, 211, 211);
    padding-bottom: 80px;
}


.working h1 {
    padding-top: 80px;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.work-steps {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
    float: left;
}

.phone-image {
    text-align: end;
    width: 50%;
    padding-right: 50px;
}

.working-content {
    display: flex;
    gap: 65px;
    margin-top: 40px;
}


.content-rimage {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 60px;
    width: 35%;
    font-weight: 300;
    font-size: 20px;
}


.link-logos {
    display: flex;
    gap: 10px;
}

@media(width< 768px) {
    .phone {
        width: 90%;
    }

    .phone-image {
        padding: 0px;
    }

    .working-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .work-steps {
        height: 30px;
        width: 30px;
        font-size: 80%;
        margin-bottom: 20px;
    }

    .content-rimage {
        width: 90%;
        font-size: 18px;
    }

    .link-logos img {
        height: 50px;
    }
}